<div id="doneSoFar">
  <div class="paddingAchievements">
    <div class="container text-center">
      <div class="mb-5">
        <p class="mat-display-1 mb-2 pre-line">{{'aboutPublicAchievements.done'|translate}}</p>
        <span class="mat-subheading-1 mb-2">{{'aboutPublicAchievements.journey'|translate}}</span>
      </div>
      <div class="row gy-3">
        <div class="col-md-4 col-12 align-self-start square">
          <p class="mat-display-4 mb-2 mt-4">140</p>
          <span class="mat-body-1">{{'landingPublicAchievements.acres'|translate}}</span>
        </div>
        <div class="col-md-4 col-12  align-self-start squareCenter">
          <p class="mat-display-4 mb-2 mt-4">150,000</p>
          <span class="mat-body-1">{{'landingPublicAchievements.trees'|translate}}</span>
        </div>
        <div class="col-md-4 col-12  align-self-start square">
          <p class="mat-display-4 mb-2 mt-4">1,800</p>
          <span class="mat-body-1">{{'landingPublicAchievements.tons'|translate}}</span>
        </div>
      </div>
      <div class="row gy-3 justify-content-center mt-4">
        <div class="col-md-4 col-12 square">
          <p class="mat-display-4 mb-2 mt-4">8</p>
          <span class="mat-body-1">{{'landingPublicAchievements.projects'|translate}}</span>
        </div>
        <div class="col-md-4 col-12  square">
          <p class="mat-display-4 mb-2 mt-4">7</p>
          <span class="mat-body-1">{{'landingPublicAchievements.countries'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
