$background1: radial-gradient(126.53% 286.38% at 123.19% 129.89%,
    #124155 32.6%,
    #051622 73.62%);

$background2: radial-gradient(226.7% 343.12% at 66.76% 100%,
    #1A4549 0%,
    #020F19 84.05%);

$background3: radial-gradient(54.79% 190.63% at 75.28% 9.38%,
    #23563C 0%,
    #020F19 100%);

$grey1: #333333;
$grey3: #8a8a8a;
$grey5: #e8e8e8;
$grey6: #FAFAFA;
$grey7: white;

$deep-green: #002822;
