<div class="position-relative">

  <model-viewer src="assets/images/models3D/ren-stg1.glb" camera-controls auto-rotate environment-image="neutral"
                exposure="1.81">
    <button class="Hotspot" slot="hotspot-2"
            data-position="-0.09058546940939416m 1.8994687117756537m 0.8476439355990055m"
            data-normal="-0.923751236107405m 0.016624280539799408m 0.3826320518286145m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'renewableFirst.hotspot1'|translate}}</div>
    </button>
  </model-viewer>

</div>

