@use 'sass:map';
@use '@angular/material' as mat;

@mixin material-table($theme) {
  $primary: map.get($theme, primary);
  $background: map.get($theme, background);
  $accent: map.get($theme, accent);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  table.mat-table {
    width: 100%;
    background-color: transparent;
  }
}
