@use 'sass:map';
@use '@angular/material' as mat;

@mixin material-divider($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $foreground: map.get($color-config, 'foreground');
  $background: map.get($color-config, 'background');
  .mat-divider {
    border-top-color: mat.get-color-from-palette($foreground, 'divider')
  }
}
