@use 'sass:map';
@use '@angular/material' as mat;

@mixin footer-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');
  .footer {

    overflow: visible;
    padding: 24px 30px;
    background-color: $landing-blue;

    svg-icon {
      fill: $white;
    }

    span, p, a {
      color: mat.get-color-from-palette($primary);
    }

    a {
      display: block;
      text-decoration: none;
      margin-bottom: 7px;
    }

    .accordion-body {
      background-color: $landing-blue;
      text-align: left;
      padding: 7px 0px;
    }

    .accordion-item {
      border: none;
      border-top: 1px solid white;
      border-radius: 0px;
    }

    .accordion-button {
      padding: 5px 0px;
      box-shadow: none;
      border-radius: 0px;
      background-color: $landing-blue;
    }

    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    mat-divider {
      border-top-color: mat.get-color-from-palette($primary);
    }
  }
}
