@use 'sass:map';
@use '@angular/material' as mat;

@mixin subscription-card-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  #subscriptionCard {
    @include mat.elevation(0);

    img {
      max-width: 200px;
      @include media-breakpoint-up(md) {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }
}
