@use 'sass:map';
@use '@angular/material' as mat;

@mixin api-available-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  #apiAvailable{
    padding: 55px 20px;
    @include media-breakpoint-up(md){
      padding: 88px 150px;
    }
    p{
      color: mat.get-color-from-palette($primary, 'main-contrast');
    }
  }
}
