@use 'sass:map';
@use '@angular/material' as mat;
@use "src/assets/scss/custom/light-theme-accent-yellow";

@mixin rating($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $foreground: map.get($color-config, 'foreground');
  $background: map.get($color-config, 'background');


  .rating {
    svg-icon {
      margin-right: 4px;
    }
    .textRating {
      margin-left: 5px;
    }
  }
}
