@use 'sass:map';
@use '@angular/material' as mat;

@mixin banner-dialog-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');
  // @include material-dialog-new($theme);
  #bannerDialog {
    padding: 24px;
    position: relative;
    .close{
      right: 10px;
      top: 10px;
      position: absolute;
    }
    span{
      color: mat.get-color-from-palette($primary, 'main-contrast');
    }
  }
}
