<ng-container *ngIf="data.url">
  <div id="bannerDialog" [ngStyle]="{'background-color': data.color}">
    <div class="close">
      <button mat-icon-button color="transparent" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    <div>
      <svg-icon [src]="data.url"></svg-icon>
    </div>
    <div class="mt-3">
      <div>
        <span class="mat-subheading-2 fw-bold">{{data.title}}</span>
      </div>
      <div class="mt-3">
        <span class="mat-body-1">{{data.description}}</span>
      </div>
    </div>
  </div>
</ng-container>

