<table mat-table [dataSource]="logs" multiTemplateDataRows>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
    <td mat-cell
        *matCellDef="let element"> {{ column == 'logDate' ? (element[column] | moment) : element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

      <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <ng-container *ngFor="let item of element | keyvalue">
          <div class="contentFields" *ngIf="canSeeData(item.key)">
            <div class="field">
              <table>
                <tr>
                  <th class="mat-header-cell">
                    {{item.key}}
                  </th>
                </tr>
                <tr>
                  <td>
                    {{item.value}}
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </ng-container>

      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
      [class.expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

</table>

