<div id="approach" class="container p-0">
  <div class="row g-0">
    <div class="col-12">
      <div class="text-center mat-display-1">
        {{'aboutPublic.approach'|translate}}
      </div>
    </div>
    <div class="col-12 d-md-none">
      <div id="carouselApproach" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselApproach" data-bs-slide-to="0" class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselApproach" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselApproach" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselApproach" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of projectTypologyInterface; let i = index"
               [ngClass]="i==0 ? 'active': ''" data-bs-interval="100000">
            <div class="d-flex flex-column h-100 itemBody">
              <div>
                <img class="itemImage" [src]="item.miniatureImage.url"/>
              </div>
              <div class="p-3">
                <div>
                  <span class="mat-headline">{{item.name}}</span>
                </div>
                <div>
                  <span class="mat-subheading-1">{{item.description}}</span>
                </div>
              </div>
              <div class="mt-auto p-3">
                <button mat-button (click)="goToProjectType(item.slug)">{{'aboutPublic.learn'|translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-none d-md-block">
      <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="200" class="scroller">
        <div *cdkVirtualFor="let item of projectTypologyInterface" class="singleItem me-4">
          <div class="d-flex flex-column h-100 itemBody">
            <div>
              <img style="width: 530px; height: 180px; object-fit: cover" [src]="item.miniatureImage.url"/>
            </div>
            <div class="p-3">
              <div>
                <span class="mat-headline fw-bold">{{item.name}}</span>
              </div>
              <div>
                <span class="mat-subheading-1">{{item.description}}</span>
              </div>
            </div>
            <div class="mt-auto p-3">
              <button mat-button (click)="goToProjectType(item.slug)">{{'aboutPublic.learn'|translate}}</button>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
