<div class="main-content" id="forgotPassword">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container p-0">
          <div class="row g-0">
            <div class="col-12">
              <div class="forgotDataContainer">
                <div class="container p-0">
                  <div class="row g-0">
                    <div class="col-12">
                      <div class="container-fluid forgotPasswordContainer">
                        <div class="forgotContent">
                          <div class="row">
                            <div class="pe-4">
                              <span class="title-1 bold text-white">{{
                                'forgotPassword.title' | translate
                              }}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 forgotContent pe-4">
                              <form (ngSubmit)="passwordRecovery()" [formGroup]="user">
                                <div class="my-4 large-body text-start d-none d-lg-block">
                                  {{ 'forgotPassword.insertEmail' | translate }}
                                </div>

                                <div class="my-4 body text-start d-lg-none">
                                  {{ 'forgotPassword.insertEmail' | translate }}
                                </div>

                                <mat-form-field
                                  appearance="outline"
                                  class="mat-input-element transparent"
                                >
                                  <mat-label>{{ 'email' | translate }}</mat-label>
                                  <input
                                    matInput
                                    name="email"
                                    type="email"
                                    formControlName="email"
                                    autocomplete="email"
                                  />
                                  <mat-error *ngIf="email.errors?.required">
                                    {{ 'authentication.requiredField' | translate }}
                                  </mat-error>
                                  <mat-error *ngIf="email.errors?.pattern">
                                    {{ 'authentication.pattern' | translate }}
                                  </mat-error>
                                </mat-form-field>
                                <div class="submit">
                                  <button mat-raised-button type="submit" #submit color="yellow">
                                    {{ 'forgotPassword.submit' | translate }}
                                  </button>
                                </div>
                                <div class="row">
                                  <span class="backLogin body">
                                    {{ 'forgotPassword.returnTo' | translate }}
                                    <span class="clickable link" [routerLink]="'/login'">
                                      {{ 'sidebar.login' | translate }}</span
                                    >
                                  </span>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="col-12">
                      <app-footer-authentication></app-footer-authentication>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
