<div class="container">
  <div class="row">
    <div class="col-4">
      <div>
        <span class="mat-body-2">{{'singleDonations.amount'|translate}}</span>
      </div>
      <div>
        <span class="mat-body-1">{{text?.price}}</span>
      </div>
    </div>
    <div class="col-4">
      <div>
        <span class="mat-body-2">{{'singleDonations.acres'|translate}}</span>
      </div>
      <div>
        <span class="mat-body-1">{{text?.acres}}</span>
      </div>
    </div>
    <div class="col-4">
      <div>
        <span class="mat-body-2">{{'singleDonations.CO2'|translate}}</span>
      </div>
      <div>
        <span class="mat-body-1">{{text?.tons}}</span>
      </div>
    </div>
  </div>
</div>
