
<!-- TODO: replace the logo with high resolution -->
<!-- <div class="title-marquee">
  <ngx-marquee class="marquee" [duration]="'60s'" [pauseOnHover]="false">
    <mark class="logo" *ngFor="let item of partners">
      <img class="mw-100" class="title-public-logo-class" [src]="item.image.url">
    </mark>
    <mark class="logo" *ngFor="let item of partners">
      <img class="mw-100" class="title-public-logo-class" [src]="item.image.url">
    </mark>
    <mark class="logo" *ngFor="let item of partners">
      <img class="mw-100" class="title-public-logo-class" [src]="item.image.url">
    </mark>
  </ngx-marquee>
</div> -->

<!-- <div class="marquee">
   <div>
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
     <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
    </div>
</div> -->

<!-- <div class="marquee">
	<div class="marquee__inner" aria-hidden="true">
    <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
    <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
    <img *ngFor="let item of partners" class="title-public-logo-class" [src]="item.image.url">
  </div>
</div> -->


<div class="ticker-wrap">
  <div class="ticker">
    <img *ngFor="let item of partners" class="ticker__item"  [src]="item.image.url">
  </div>
  </div>