<div class="position-relative">
  <model-viewer src="assets/images/models3D/mar-stg2.glb" camera-controls auto-rotate environment-image="neutral"
                exposure="1.81">
    <button class="Hotspot" slot="hotspot-1"
            (click)="clickHotspot($event.target)"
            data-position="0.5401234203703527m 0.8589736513664996m 0.2437169069274665m"
            data-normal="0.9132239327062537m -7.786029952706851e-7m 0.40745803309287937m"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation">{{'marineSecond.hotspot1'|translate}}
      </div>
    </button>
    <button class="Hotspot" slot="hotspot-2"
            (click)="clickHotspot($event.target)"
            data-position="-0.0414460018613866m 0.7744925087167975m 0.30472480211294867m"
            data-normal="-0.2894623743977396m 0.01212849724401814m 0.9571125499974519m"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation">{{'marineSecond.hotspot2'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-3"
            (click)="clickHotspot($event.target)"
            data-position="-0.012916277724185243m 0.8504655958405284m -0.17293341955864974m"
            data-normal="0.562373162614593m 0.04512613873615204m -0.8256512929643035m"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation">{{'marineSecond.hotspot3'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-4"
            (click)="clickHotspot($event.target)"
            data-position="-0.02158394665218774m 0.7762463771900293m -0.43340516922292854m"
            data-normal="0.4402453402109408m -0.10535010955453636m -0.8916756107685128m"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation">{{'marineSecond.hotspot4'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-5"
            (click)="clickHotspot($event.target)"
            data-position="-0.20963199296409846m 0.8843969317898652m 0.1144510748963739m"
            data-normal="-0.36557082690528186m 0.23824591828180872m 0.8997760015347411m"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation">{{'marineSecond.hotspot5'|translate}}</div>
    </button>
  </model-viewer>
</div>


