<div>
  <span class="mat-caption fw-bold">{{firstTitle}}</span>
  <span class="mat-caption">{{value1}}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.co2Offset' | translate}}</span>
  <span class="mat-caption">{{'gift.tons' | translate: {value: co2} }}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.recipientCartName' | translate}}</span>
  <span class="mat-caption">{{recipientName}}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.recipientCartMail' | translate}}</span>
  <span class="mat-caption">{{recipientEmail}}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.occasionCart' | translate}}</span>
  <span class="mat-caption">{{occasion}}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.deliveryCart' | translate}}</span>
  <span class="mat-caption">{{deliveryDate | date: 'dd/MM/yyyy'}}</span>
</div>
<div>
  <span class="mat-caption fw-bold">{{'gift.messageCart' | translate}}</span>
  <span class="mat-caption">{{message}}</span>
</div>
