<div class="position-relative">
  <model-viewer #modelviewer src="assets/images/models3D/pres-stg1.glb" camera-controls auto-rotate environment-image="neutral"
                exposure="1.81">
    <button class="Hotspot" slot="hotspot-2"
            data-position="-1.3566301103000304m 0.8908970982241295m 0.6961794538855841m"
            data-normal="-0.9673040132639221m -3.4076046625689475e-8m 0.2536196875707974m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot1'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-3"
            data-position="-0.5916189057068231m 0.9060571480243226m -1.2378648306645608m"
            data-normal="0.3344096638838313m 1.2662350583263713e-7m -0.94242780980884m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot2'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-7"
            data-position="0.846373157156613m 1.3296755878666766m -0.7110910272434933m"
            data-normal="-0.8999645557455107m 0.3437511045240673m -0.2681398451186792m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot3'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-13"
            data-position="0.9832088071201822m 2.0363595794053198m 1.463940115040626m"
            data-normal="-0.5323796114971177m -0.3867063128116007m 0.7530140615512002m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot4'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-14"
            data-position="-0.8606954037429169m 1.0546528598421232m -0.5628154681510037m"
            data-normal="-0.5315882895891085m -0.45171415993061187m 0.7164971794012226m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot5'|translate}}</div>
    </button>
    <button class="Hotspot" slot="hotspot-15"
            data-position="-0.9857688708213945m 0.9667852534739352m -0.9625059687127336m"
            data-normal="-0.7366454148366676m 0.018673802048859996m -0.6760213176499349m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'preservationFirst.hotspot6'|translate}}</div>
    </button>
  </model-viewer>
</div>

