<div class="content">
  <div class="paddingUser">
    <div class="container">
    <div>
      <p class="mat-headline mb-4">{{'settings.settings'|translate}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <div class="my-5">
        <div class="mt-5 mb-2">
          <span class="mat-subheading-1">{{'settings.notifications'|translate}}</span>
        </div>
        <div class="container p-0">
          <div class="row g-0">
<!--            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>
            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>
            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>
            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>
            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>
            <app-settings-component [name]="'name'" [description]="'desc'" class="col-md-6"></app-settings-component>-->
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div class="mt-5 mb-4">
          <span class="mat-subheading-1">{{'settings.newsletter'|translate}}</span>
        </div>
        <div class="container p-0">
          <div class="row g-0">
            <!--<app-settings-component [name]="'name'" [description]="'desc'" class="col-sm-6 mb-5"></app-settings-component>-->
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
