<div class="position-relative">

  <model-viewer src="assets/images/models3D/ren-stg2.glb" camera-controls auto-rotate environment-image="neutral"
                exposure="1.81">
    <button class="Hotspot" slot="hotspot-2"
            data-position="0.23876580171195105m 3.124924984347224m -1.762621326677376m"
            data-normal="0.9837303922966011m 0.016624301120115374m -0.17888026130415632m"
            (click)="clickHotspot($event.target)"
            data-visibility-attribute="visible">
      <div class="HotspotAnnotation mat-body-1">{{'renewableSecond.hotspot1'|translate}}</div>
    </button>
  </model-viewer>

</div>
