@use 'sass:map';
@use '@angular/material' as mat;

@mixin invite-code-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  .invite-code {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color .3s;

    &:hover {
      border: 2px solid white;
      background-color: #4a4a4a !important;
    }

    &.success {
      border: 2px solid #28a745;
    }

    &.error {
      border: 2px solid #dc3545
    }
  }
}
