<div class="container customPadding" id="joinGfp">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
      <div class="mb-3 text-center">
        <p class="mat-display-1 mb-2">{{title}}</p>
        <p class="mat-subheading-2">{{description}}</p>
      </div>
      <div class="mb-4">
        <app-join-gfp-form [form]="aboutYou"></app-join-gfp-form>
        <div class="text-center">
          <button [disabled]="!aboutYou.valid" mat-raised-button color="yellow" class="customButton">{{'aboutPublicTeam.send' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
