<div class="position-relative">

        <model-viewer src="assets/images/models3D/ref-stg1.glb" camera-controls auto-rotate environment-image="neutral"
                      exposure="1.81">
          <button class="Hotspot" slot="hotspot-2"
                  data-position="0.10524403791882894m 1.3530155391320948m -0.11943893565297489m"
                  data-normal="0.9901006679458426m 0.024176882793078867m -0.1382611502614023m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationFirst.hotspot1'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-4"
                  data-position="0.005195279813428627m 1.3374030784717637m -0.03464823719952664m"
                  data-normal="0.47340433567567397m 0.31805880059272357m -0.8214176369721996m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationFirst.hotspot2'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-7"
                  data-position="0.1496574739298805m 1.3479295261962374m 0.10567987747315762m"
                  data-normal="0.9333542664676437m 0.020494229387914373m 0.35837103653677493m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationFirst.hotspot3'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-9"
                  data-position="-0.1804485283468003m 1.3372514667191575m -0.1502284488797183m"
                  data-normal="-0.9384604826280692m 0.03470229270397354m -0.3436388706572343m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationFirst.hotspot4'|translate}}</div>
          </button>
        </model-viewer>

</div>


