<mat-card>
  <div class="h-100">
    <div class="row" style="height: inherit;">
      <div class="col-12">
        <div class="layer headingContainer">
            <div style="margin-right: 24px;">
                <span class="text-white headline">{{value}}</span>
            </div>
            <div>
                <span [ngClass]="isMediumScreen ? 'title-3' : 'title-2'" class="text-white">{{headingText}}</span>
                <p [ngClass]="isMediumScreen ? 'small-body' : 'body'" class="text-white">{{bodyText}}</p>
            </div>
        </div>
      </div>
      <div class="row d-flex align-items-stretch p-3 align-items-center">
          <div class="col-12">
              <div class="d-flex flex-lg-row flex-column align-items-center px-4 justify-content-evenly py-4">
                  <div class="d-flex flex-lg-column flex-row align-items-center px-3">
                      <div class="px-2">
                          <img [src]="leftContentImgURL" style="width: 72px; height:72px">
                      </div>
                      <div class="px-2">
                          <p *ngIf="leftHeadingText" class="body bold mt-3 text-lg-center text-justify lg-px-5 px-2 text-nowrap">{{leftHeadingText}}</p>
                          <div class="body mt-3 text-lg-center text-justify lg-px-5 px-2">
                            <span>{{leftBodyText}}</span>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-auto py-4 px-2">
                      <p class="body text-center">OR</p>
                  </div>
                  <div class="d-flex flex-lg-column flex-row align-items-center px-3">
                      <div class="px-2">
                          <img [src]="rightContentImgURL" style="width: 72px; height:72px">
                      </div>
                      <div class="px-2">
                          <p *ngIf="rightHeadingText" class="body bold mt-3 text-lg-center text-justify lg-px-5 px-2 text-nowrap">{{rightHeadingText}}</p>
                          <div class="body mt-3 text-lg-center text-justify lg-px-5 px-2">
                            <span>{{rightBodyText}}</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
      </div>

</mat-card>
