@use 'sass:map';
@use '@angular/material' as mat;

@mixin business-checkout-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');
  $border-sm: #BABABA;
  $my-typography: mat.define-typography-config();
  $accent2: map.get($light-theme-public-yellow, 'accent');

  .businessCheckout {
    background-image: url('../../../../../../../assets/images/bg_dashboard.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;

    .titles{
      .mat-button, .mat-button:hover:enabled{
        color: $bar-yellow;
      }
    }

    .mobileView{
      @include media-breakpoint-down(xl) {
        width: 100%;
      }
    }

    .toggleExpansion{
      height: 30px;
      width: 30px;
      color: white;
      border: none;
      background-color: transparent;

      @include media-breakpoint-down(xl) {
        color: $bar-yellow;
      }
    }

    .mat-card {
      background-color: rgba(250, 250, 250, 0.08) !important;
      border-radius: 8px;
      @include mat.elevation(0);
      border: 2px solid transparent;
      box-shadow: none !important;
    }

    .mat-card-content{
      padding: 1.5rem;
    }

    .mat-vertical-content {
      padding: 0;
    }

    .mat-step-label-selected {
      font-weight: bold;
    }

    .mat-step-header {
      background-color: rgba(250, 250, 250, 0.15);
      border-radius: 40px;
      padding: 0;
      margin-bottom: 20px;
      height: 32px;

      .mat-step-icon {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
      }

      .mat-step-icon-selected {
        background-color: white;
        border-color: white;
        color: $deep-green;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-lato;
      }
    }

    .leaderRecap {

      img {
        width: 152px;
        @include media-breakpoint-up(md) {
          width: 100%;
        }
      }
    }

    .recapPioneer {
      background-color: transparent;
      border-radius: 4px;
      padding: 20px 32px;
      position: relative;

      .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix {
        color: white;
        height: fit-content;
      }

      .mat-divider {
        width: calc(100% - 64px);
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 16px;
      }

      .selectorPioneer {
        &:hover {
          cursor: pointer;
        }

        .customRadio {
          margin-right: 8px;

          .customBorder {
            border: 1px solid $captionColor;
            width: 22px;
            height: 22px;
            border-radius: 11px;

          }
        }

        &.active {

          .customRadio {
            .customBorder {
              border: 1px solid $bar-yellow;

              .customCircle {
                margin: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $bar-yellow;
              }
            }
          }
        }
      }

      .ecommerceCards {
        .mat-form-field {
          &.mat-form-field-appearance-outline {
            .mat-form-field-flex {
              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                background-color: mat.get-color-from-palette($background, 'app-bar');
              }
            }

            .mat-form-field-outline-start,
            .mat-form-field-outline-gap,
            .mat-form-field-outline-end {
              color: mat.get-color-from-palette($accent2);
            }
          }
        }
      }
    }

    .ecomm-type-wrapper {
      .ecommerce-type-box {
        cursor: pointer;
        border: 0;
        img {
          max-width: 100%;
        }
      }
      &.selected {
        .ecommerce-type-box {
          border: 2px solid #f7f7f7;
        }
      }
    }

    .image {
      img {
        width: 100%;
      }
    }

    #outerCard {
      background-color: rgba(250, 250, 250, 0.05) !important;
      border-radius: 8px;

      .mat-tab-header {
        border: 0;

        .mat-tab-label-content {
          color: #FAFAFA;
        }

        .mat-ink-bar {
          background-color: $bar-yellow;
        }
      }

      .tabContent {
        border-radius: 8px;
      }

      .mat-form-field {
        .mat-form-field-outline > * {
          background: rgba(250,250,250,.05);
        }
        .mat-form-field-label, .mat-input-element {
          color: white;
        }
      }

      .mat-step-label-selected {
        font-weight: bold;
      }

      .labelTitle {
        color: mat.get-color-from-palette($foreground);
      }

      .mat-step {

        &:nth-child(2){
          .mat-vertical-content{
            padding-bottom: 0px;
          }
        }
      }

      .mat-stepper-vertical {
        .mat-step-header {
          cursor: pointer;
        }

        background-color: transparent;

        .mat-vertical-content-container {
          margin-left: 0px;
        }

        .mat-stepper-vertical-line {
          &:before {
            border-width: 0;
          }
        }
      }
    }
  }
}
