@use 'sass:map';
@use '@angular/material' as mat;

@mixin gift-edit-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');
  // @include material-dialog-new($theme);
  #giftEdit {
    position: relative;
    .close{
      .mat-icon{
        color:  mat.get-color-from-palette($foreground, 'text');
      }
      position: absolute;
      top: 5px;
      right: 5px;
    }
    background-color: mat.get-color-from-palette($primary, 'main-contrast');
    @include highlight-div-theme($theme);
  }
}
