@use 'sass:map';
@use '@angular/material' as mat;

@mixin banner-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  #banner {
    padding: 20px;
    border-radius: 4px;

    &.light {
      span {
        color: mat.get-color-from-palette($primary, 'main-contrast');
      }
    }

    &.accent {
      span {
        color: mat.get-color-from-palette($accent);
      }
      svg-icon {
        stroke: mat.get-color-from-palette($accent);
      }
      background-color: #D3DFDB;
    }

    svg-icon {
      stroke: mat.get-color-from-palette($primary);
    }
  }
}
