<div id="aboutContribute">
  <div class="customPadding">
    <div class="container contribute">
      <div class="row">
        <div class="col-12 text-center">
          <p class="title-2 mb-2">{{'aboutPublicProject.contribute'|translate}}</p>
          <p class="body mb-5">{{'aboutPublicProject.help'|translate}}</p>
          <button mat-stroked-button color="yellow" class="d-none buttonCustom mb-2 mb-md-auto me-md-2" [routerLink]="routingTypes.PROJECTS_PUBLIC" >{{'aboutPublicProject.view'|translate}}</button>
          <button mat-raised-button color="yellow" class="ms-md-2 buttonCustom" [routerLink]="routingTypes.SUBSCRIPTIONS">{{'aboutPublicProject.subscribe' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
