<div class="position-relative">

        <model-viewer src="assets/images/models3D/ref-stg2.glb" camera-controls auto-rotate environment-image="neutral" exposure="1.81">
          <button class="Hotspot" slot="hotspot-2"
                  data-position="0.10616053656223985m 1.3529880949695017m -0.11288060453106633m"
                  data-normal="0.9901006679458427m 0.02417688279307887m -0.13826115026140232m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot1'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-4"
                  data-position="0.3386565725359404m 1.4262575951321113m 0.1545222863675597m"
                  data-normal="0.8187144578570938m 0.1855422565416504m -0.5433973753462537m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot2'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-7"
                  data-position="-0.08744753302678948m 1.317809600690631m -0.21544266160884523m"
                  data-normal="0.010627894147642258m 0.9992846696713741m -0.03629320633065216m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot3'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-9"
                  data-position="-0.2461897133268111m 1.464541014793997m -0.20241644549106677m"
                  data-normal="-0.46357864144149213m 0.8746596647487538m -0.14165208809212287m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot4'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-5"
                  data-position="0.10564158223206328m 1.312907959143011m 0.2786402916808184m"
                  data-normal="-0.33470998244498856m 0.17883679725409088m 0.9251954537283323m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot5'|translate}}</div>
          </button>
          <button class="Hotspot" slot="hotspot-6"
                  data-position="-0.020968028269990665m 1.3720968125404758m -0.009596366870577647m"
                  data-normal="0.07899045875300903m 0.9853466604611381m -0.1511703216377877m"
                  (click)="clickHotspot($event.target)"
                  data-visibility-attribute="visible">
            <div class="HotspotAnnotation mat-body-1">{{'restorationSecond.hotspot6'|translate}}</div>
          </button>
        </model-viewer>

</div>
