<div class="main-content" id="resetPassword">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <span class="mat-display-1">{{
            'resetPassword.title' | translate
          }}</span>
        </div>
      </div>
      <div class="col-md-6 col-12 mt-3 align-self-center">
        <div class="forgotContent">
          <form (ngSubmit)="resetPassword()" [formGroup]="user">
            <div>
              <mat-form-field
                appearance="outline"
                class="mat-input-element transparent"
              >
                <mat-label>{{
                  'resetPassword.insertPassword' | translate
                }}</mat-label>
                <input
                  matInput
                  name="password"
                  type="password"
                  formControlName="password"
                  color="yellow"
                  mat-raised-button
                />
                <mat-error *ngIf="password.errors?.minLength">
                  {{ 'authentication.minLength' | translate }}
                </mat-error>
                <mat-error *ngIf="password.errors?.required">
                  {{ 'authentication.requiredField' | translate }}
                </mat-error>
                <mat-error *ngIf="password.errors?.mismatch">
                  {{ 'authentication.differentPassword' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field
                appearance="outline"
                class="mat-input-element transparent"
              >
                <mat-label>{{
                  'resetPassword.reEnterPassword' | translate
                }}</mat-label>
                <input
                  matInput
                  name="cPassword"
                  type="password"
                  formControlName="cPassword"
                />
                <mat-error *ngIf="cPassword.errors?.minLength">
                  {{ 'authentication.minLength' | translate }}
                </mat-error>
                <mat-error *ngIf="cPassword.errors?.required">
                  {{ 'authentication.requiredField' | translate }}
                </mat-error>
                <mat-error *ngIf="cPassword.errors?.mismatch">
                  {{ 'authentication.differentPassword' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="submit">
              <button mat-raised-button type="submit" #submit color="yellow">
                {{ 'forgotPassword.submit' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
