@use 'sass:map';
@use '@angular/material' as mat;

@mixin reset-password-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent: map.get($theme, accent);
  $foreground: map.get($theme, foreground);
  background: $dark-bg-gradient;
  #resetPassword.main-content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color: mat.get-color-from-palette($primary-palette, 'main-contrast');
    @include media-breakpoint-up(md) {
      margin-top: 180px;
    }
    .container {
      background: $dark-bg-gradient;
      border-radius: 16px;
      padding-top: 112px;
      padding-bottom: 32px;
      max-width: 600px;

      @include media-breakpoint-up(md){
        padding: 32px 48px;
      }
      .forgotContent {
        form {
          > .container-fluid {
            margin-top: 42px;
            padding-left: 0;
            padding-right: 0;

            .mat-caption {
              color: $captionColor;

              &.clickable {
                color: $clickableLink;
              }
            }
          }
          .submit {
            margin-top: 10px;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
