@use 'sass:map';
@use '@angular/material' as mat;


@mixin supporting-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  .supportingPadding{
    padding: 3em 2em;
    @include media-breakpoint-up(md) {
      padding: 3em 7em 4em;
    }
    .carousel-arrows{
      .carousel-arrow-next,
      .carousel-arrow-prev {
        box-shadow: none;
        background-color: transparent;
        border-radius: 0px;
      }
    }
  }
}
