@use 'sass:map';
@use '../../../../node_modules/@angular/material/index' as mat;


@mixin divider-text-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  .line{
    flex: 1;
  }
}
