<div class="layer" id="tnc">
  <div id="title" class="container">
    <div>
      <span class="headline d-none d-lg-block mb-0">{{
        'cookiePolicy' | translate | uppercase
      }}</span>
      <span class="title-1 bold d-lg-none mb-0">{{
        'cookiePolicy' | translate | uppercase
      }}</span>
    </div>
  </div>
</div>

<div name="termly-embed" data-id="68801c0f-9945-4bc0-9ef9-b220d63c043f" data-type="iframe" class="legal-content"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://app.termly.io/embed-policy.min.js";
  tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));</script>
